version: "2"
services:
  app:
    build: .
    image: keboola/ex-db-mssql
    volumes:
      - .:/code
    working_dir: /code
    command: "./phpunit.sh"
    tty: true
    stdin_open: true
    environment:
      MSSQL_DB_HOST: mssql
      MSSQL_DB_PORT: 1433
      MSSQL_DB_USER: sa
      MSSQL_DB_PASSWORD:
      MSSQL_DB_DATABASE: test
    links:
      - sshproxy
      - mssql

  mssql:
    image: rsmoorthy/mssql
    ports:
      - "1433:1433"

  sshproxy:
    build: ./tests/env/sshproxy
    volumes:
        - ./tests/env/sshproxy:/code
    working_dir: /code
    ports:
      - "2222:22"
    links:
      - mssql
