parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Cannot call method fetch\(\) on PDOStatement\|false\.#'
        - '#Cannot call method execute\(\) on PDOStatement\|false\.#'
        - '#function get_class expects object, Throwable\|null given.#'
